body {
    width: 85%;
    margin: auto;
    font-size: 20px;
}
.headline {
    text-align: center; 
}

.inputs {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.label {
    width: 100px;
}

.input {
    width: 100%;
}

.input-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.operands {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}

.numbers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex-direction: row;
    box-sizing: border-box;
}
.buttons input[type=button]{
    height: 60px;
    width: 30px;
    padding: 0;
    background: rgba(0, 102, 255, 0.753);
    border: 1px solid rgba(255, 0, 0, 0.623);
    flex-basis: 33%;
    font-size: 1.2em;
}
