body {
    width: 65%;
    margin: auto;
}
.headline {
    text-align: center; 
}

.inputs {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.label {
    width: 100px;
}

.input {
    width: 100px;
}


.operands {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}

.numbers {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    align-content: space-between;
    margin: auto;
    flex-direction: row;
    box-sizing: border-box;
}
.buttons input[type=button]{
    height: 30px;
    width: 30px;
    padding: 5px;
    background: rgba(0, 102, 255, 0.753);
    border: 1px solid rgba(255, 0, 0, 0.623);
    flex-basis: 33%;
}
